@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Regular-webfont.eot");
  src: url("fonts/Overpass_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Regular-webfont.woff") format("woff"), url("fonts/Overpass_Regular-webfont.ttf") format("truetype"), url("fonts/Overpass_Regular-webfont.svg#overpassregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Bold-webfont.eot");
  src: url("fonts/Overpass_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Bold-webfont.woff") format("woff"), url("fonts/Overpass_Bold-webfont.ttf") format("truetype"), url("fonts/Overpass_Bold-webfont.svg#overpassbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("fonts/OpenSans-CondBold-webfont.eot");
  src: url("fonts/OpenSans-CondBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-CondBold-webfont.woff") format("woff"), url("fonts/OpenSans-CondBold-webfont.ttf") format("truetype"), url("fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.woff") format("woff"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Semibold-webfont.eot");
  src: url("fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cambo';
  src: url("fonts/cambo-regular-webfont.eot");
  src: url("fonts/cambo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cambo-regular-webfont.woff") format("woff"), url("fonts/cambo-regular-webfont.ttf") format("truetype"), url("fonts/cambo-regular-webfont.svg#camboregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 2, ../sass/partials/_package-styles.scss */
.ui-tooltip {
  background: #3f3f3f;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  font-size: 0.8em;
}

/* line 15, ../sass/partials/_package-styles.scss */
.ui-tooltip-content {
  position: relative;
  padding: 1em;
}

/* line 19, ../sass/partials/_package-styles.scss */
.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -6px;
  left: 40%;
  border-color: #3f3f3f transparent;
  border-width: 0 8px 8px;
}

/* line 3, ../sass/partials/_general.scss */
body {
  color: #3f3f3f;
  font-family: "Cambo", "Verdana", serif;
  font-size: 16px;
  background-color: #f7f7f7;
}

/* line 9, ../sass/partials/_general.scss */
a {
  text-decoration: none;
  color: #3f3f3f;
}
/* line 4, ../sass/partials/_mixins.scss */
a:link {
  color: #3f3f3f;
}
/* line 7, ../sass/partials/_mixins.scss */
a:visited {
  color: #3f3f3f;
}
/* line 10, ../sass/partials/_mixins.scss */
a:hover {
  color: #3f3f3f;
  color: #3f3f3f;
}
/* line 14, ../sass/partials/_mixins.scss */
a:active {
  color: #3f3f3f;
}

/* line 14, ../sass/partials/_general.scss */
h1 {
  font-family: "Overpass", "Verdana", "Arial", sans-serif;
}

/* line 15, ../sass/partials/_general.scss */
h2 {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 22, ../sass/partials/_mixins.scss */
::-moz-selection {
  color: #f7f7f7;
  background: #a0507e;
}

/* line 23, ../sass/partials/_mixins.scss */
::selection {
  color: #f7f7f7;
  background: #a0507e;
}

/* line 7, ../sass/partials/_typography.scss */
.main_header h1 {
  font-size: 5.6875em;
  line-height: 1.49451em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 13, ../sass/partials/_typography.scss */
.main_header h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 2.375em;
  line-height: 1.71053em;
  text-transform: uppercase;
  color: #f7f7f7;
  letter-spacing: 1px;
}

/* line 22, ../sass/partials/_typography.scss */
.social_links {
  line-height: 100px;
  color: blue;
}

/* line 28, ../sass/partials/_typography.scss */
.main-content {
  font-family: "Cambo", "Verdana", serif;
}
/* line 30, ../sass/partials/_typography.scss */
.main-content h1 {
  font-size: 3.0625em;
  line-height: 1.22449em;
  letter-spacing: -3px;
  font-weight: bold;
}
/* line 37, ../sass/partials/_typography.scss */
.main-content header span {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #999999;
  line-height: 0em;
  letter-spacing: 0px;
}
/* line 46, ../sass/partials/_typography.scss */
.main-content h2 {
  font-size: 1.75em;
  line-height: 1.28571em;
  letter-spacing: -1px;
}
/* line 51, ../sass/partials/_typography.scss */
.main-content p {
  text-indent: 1.5em;
  font-size: 1.25em;
  line-height: 1.6em;
  color: #666666;
}
/* line 57, ../sass/partials/_typography.scss */
.main-content .fig-caption, .main-content a.back_button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #999999;
  letter-spacing: 0px;
}

/* line 6, ../sass/partials/_layout.scss */
.main_header {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
/* line 9, ../sass/partials/_layout.scss */
.main_header h2 {
  background-color: #a0507e;
}

/* line 14, ../sass/partials/_layout.scss */
.social_links li {
  display: inline;
  margin: 0px 8px 0px 8px;
}

/* line 19, ../sass/partials/_layout.scss */
.active_icon {
  margin-left: -40px;
  display: none;
}

/* line 26, ../sass/partials/_layout.scss */
.main-content {
  max-width: 810px;
  padding: 70px 75px 70px 75px;
  margin: 0 auto;
  background-color: #fcfcfc;
  -webkit-box-shadow: #e5e5e5 0px 0px 20px;
  -moz-box-shadow: #e5e5e5 0px 0px 20px;
  box-shadow: #e5e5e5 0px 0px 20px;
}
/* line 33, ../sass/partials/_layout.scss */
.main-content header {
  text-align: center;
  margin: 0px 0px 60px 0px;
}
/* line 37, ../sass/partials/_layout.scss */
.main-content h2 {
  padding: 10px 0px 30px 0px;
}
/* line 40, ../sass/partials/_layout.scss */
.main-content p {
  padding: 0px 0px 20px 0px;
}
/* line 43, ../sass/partials/_layout.scss */
.main-content figure {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
/* line 48, ../sass/partials/_layout.scss */
.main-content img {
  -webkit-box-shadow: #e5e5e5 0px 0px 20px;
  -moz-box-shadow: #e5e5e5 0px 0px 20px;
  box-shadow: #e5e5e5 0px 0px 20px;
  max-width: 600px;
}
/* line 52, ../sass/partials/_layout.scss */
.main-content figcaption {
  padding: 5px 0px 5px 0px;
}
/* line 55, ../sass/partials/_layout.scss */
.main-content footer {
  text-align: center;
  padding: 50px 0px 0px 0px;
}
/* line 58, ../sass/partials/_layout.scss */
.main-content footer a {
  background-color: red;
  background: url('../img/back-icon.png?1394457272');
  background-position: left 13px;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 60px;
}
/* line 64, ../sass/partials/_layout.scss */
.main-content footer a:hover {
  color: #a0507e;
}
