/* usage
	@include selection {
		color: white;
		background: black;
	}
} */
@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Regular-webfont.eot");
  src: url("fonts/Overpass_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Regular-webfont.woff") format("woff"), url("fonts/Overpass_Regular-webfont.ttf") format("truetype"), url("fonts/Overpass_Regular-webfont.svg#overpassregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Bold-webfont.eot");
  src: url("fonts/Overpass_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Bold-webfont.woff") format("woff"), url("fonts/Overpass_Bold-webfont.ttf") format("truetype"), url("fonts/Overpass_Bold-webfont.svg#overpassbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 54, ../sass/partials/_reset.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, ../sass/partials/_mixins.scss */
body ::-moz-selection {
  color: #fff;
  background: #00e4ee;
}
/* line 29, ../sass/partials/_mixins.scss */
body ::selection {
  color: #fff;
  background: #00e4ee;
}

/* line 3, ../sass/partials/_typography.scss */
body {
  font-family: "Lato";
}

/* line 9, ../sass/partials/_typography.scss */
.main_nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.075em;
}
/* line 4, ../sass/partials/_mixins.scss */
.main_nav a:link {
  color: black;
}
/* line 7, ../sass/partials/_mixins.scss */
.main_nav a:visited {
  color: black;
}
/* line 10, ../sass/partials/_mixins.scss */
.main_nav a:hover {
  color: black;
  color: #00e4ee;
}
/* line 14, ../sass/partials/_mixins.scss */
.main_nav a:active {
  color: #00e4ee;
}
/* line 17, ../sass/partials/_typography.scss */
.main_nav a.active {
  color: #00e4ee;
}

/* line 23, ../sass/partials/_typography.scss */
.headings h2 {
  font-size: 117px;
  text-transform: uppercase;
}
/* line 27, ../sass/partials/_typography.scss */
.headings h3 {
  font-family: "Lato";
  font-size: 75px;
  font-weight: 300;
}
/* line 31, ../sass/partials/_typography.scss */
.headings h3 span {
  font-weight: 400;
}
/* line 35, ../sass/partials/_typography.scss */
.headings p {
  font-family: "Lato";
  font-size: 25px;
  font-weight: 300;
  color: #515151;
}

/* line 44, ../sass/partials/_typography.scss */
.slick-dots li button {
  font-family: "Arial";
  font-size: 10px;
  color: #434342;
  text-align: center;
  vertical-align: text-top;
  line-height: 0;
}

/* line 56, ../sass/partials/_typography.scss */
.nav_btns li {
  font-family: "Arial";
  font-size: 10px;
  color: #434342;
  text-align: center;
}
/* line 62, ../sass/partials/_typography.scss */
.nav_btns li.active {
  color: #fff;
}

/* line 68, ../sass/partials/_typography.scss */
.intampinare {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 120%;
}

/* line 74, ../sass/partials/_typography.scss */
.about_us {
  font-size: 25px;
  font-weight: 300;
  line-height: 120%;
}

/* line 80, ../sass/partials/_typography.scss */
.work_type h3 {
  font-size: 21px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 25px;
}
/* line 87, ../sass/partials/_typography.scss */
.work_type li {
  font-size: 17px;
  font-weight: 300;
  color: #77787b;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 25px;
}

/* line 98, ../sass/partials/_typography.scss */
.footer_wrapper {
  text-align: center;
  color: #fff;
  font-size: 21px;
  letter-spacing: 0.05em;
}
/* line 103, ../sass/partials/_typography.scss */
.footer_wrapper .mesaj {
  text-transform: uppercase;
  font-weight: 900;
}
/* line 107, ../sass/partials/_typography.scss */
.footer_wrapper p {
  font-weight: 300;
  vertical-align: text-bottom;
}
/* line 110, ../sass/partials/_typography.scss */
.footer_wrapper p span {
  line-height: 65px;
  padding-left: 25px;
  background: transparent url('../img/disc_list_style.png?1398162370') no-repeat 10px 11px;
}

/* line 6, ../sass/partials/_layout.scss */
body {
  background-color: white;
  vertical-align: text-top;
}

/* line 10, ../sass/partials/_layout.scss */
.main_header {
  background-color: white;
  background: white url('../img/header_vertical_bg.jpg?1398108037') repeat-x;
  height: 810px;
}

/* line 15, ../sass/partials/_layout.scss */
.main_header_container {
  position: relative;
  background: transparent url('../img/highlight_header_bg.png?1398107930') no-repeat center top;
  overflow: hidden;
  height: 100%;
}

/* line 21, ../sass/partials/_layout.scss */
.head_wrapper {
  width: 100%;
  max-width: 1000px;
  height: 810px;
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}

/* line 36, ../sass/partials/_layout.scss */
.open_slider {
  width: 200%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
/* line 40, ../sass/partials/_layout.scss */
.open_slider .slick-list.dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
/* line 45, ../sass/partials/_layout.scss */
.open_slider section img {
  display: block;
  margin-left: 30%;
}
/* line 52, ../sass/partials/_layout.scss */
.open_slider .number1 img {
  margin-top: 50px;
}
/* line 55, ../sass/partials/_layout.scss */
.open_slider .number2 img {
  margin-top: 50px;
}
/* line 58, ../sass/partials/_layout.scss */
.open_slider .number3 img {
  margin-top: 130px;
}

/* NEW NAV BUTTONS */
/* line 63, ../sass/partials/_layout.scss */
.slick-dots {
  position: absolute;
  bottom: 200px;
  left: 0;
  list-style: none;
  display: block;
  text-align: left;
  padding: 0px;
  width: 200px;
  height: 17px;
  pointer-events: auto;
}
/* line 74, ../sass/partials/_layout.scss */
.slick-dots li {
  pointer-events: auto;
  position: relative;
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 0px 18px 0px 0px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  background: transparent url('../img/two.png?1400702520') no-repeat center center;
}
/* line 84, ../sass/partials/_layout.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 17px;
  width: 17px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
/* line 94, ../sass/partials/_layout.scss */
.slick-dots li button:focus {
  outline: none;
}
/* line 98, ../sass/partials/_layout.scss */
.slick-dots li button:before {
  display: none;
}
/* line 104, ../sass/partials/_layout.scss */
.slick-dots li.slick-active button {
  color: #fff;
  background: transparent url('../img/one.png?1398154023') no-repeat center center;
}

/* line 110, ../sass/partials/_layout.scss */
h1 {
  width: 194px;
  float: left;
  margin-bottom: 64px;
  pointer-events: auto;
}
/* line 115, ../sass/partials/_layout.scss */
h1 .logo {
  width: 100%;
  height: auto;
  display: block;
}

/* line 122, ../sass/partials/_layout.scss */
.headings h3 {
  padding-bottom: 13px;
}

/* line 126, ../sass/partials/_layout.scss */
.main_nav {
  float: right;
  padding-top: 85px;
  pointer-events: auto;
}
/* line 130, ../sass/partials/_layout.scss */
.main_nav li {
  display: inline-block;
  margin-left: 40px;
}

/* line 135, ../sass/partials/_layout.scss */
.headings {
  position: relative;
  clear: both;
  margin-bottom: 100px;
}

/* line 140, ../sass/partials/_layout.scss */
.headings_container {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 0;
}
/* line 146, ../sass/partials/_layout.scss */
.headings_container h2 {
  margin-top: -100px;
  display: none;
  position: absolute;
  top: 0;
}
/* line 152, ../sass/partials/_layout.scss */
.headings_container h3 {
  margin-left: -100px;
  display: none;
  position: absolute;
  top: 110px;
}
/* line 158, ../sass/partials/_layout.scss */
.headings_container p {
  margin-left: 100px;
  display: none;
  top: 200px;
  position: absolute;
}

/* line 167, ../sass/partials/_layout.scss */
.headings_transition_detected h2, .headings_transition_detected h3, .headings_transition_detected p {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: block;
  opacity: 0;
}

/* line 174, ../sass/partials/_layout.scss */
.headings_transition_detected:first-child h2, .headings_transition_detected:first-child h3, .headings_transition_detected:first-child p {
  opacity: 1;
}

/* line 178, ../sass/partials/_layout.scss */
.fadeIn {
  opacity: 1 !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

/* line 183, ../sass/partials/_layout.scss */
.fadeOut {
  opacity: 0 !important;
}

/* line 186, ../sass/partials/_layout.scss */
h2.fadeOut {
  margin-left: -100px !important;
}

/* line 189, ../sass/partials/_layout.scss */
h3.fadeOut {
  margin-left: -100px !important;
}

/* line 192, ../sass/partials/_layout.scss */
p.fadeOut {
  margin-left: -100px !important;
}

/* line 195, ../sass/partials/_layout.scss */
.notrans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* line 202, ../sass/partials/_layout.scss */
.default {
  opacity: 0 !important;
}

/* line 205, ../sass/partials/_layout.scss */
h2.default {
  margin-top: -100px !important;
  margin-left: 0px !important;
}

/* line 209, ../sass/partials/_layout.scss */
h3.default {
  margin-left: -100px !important;
}

/* line 212, ../sass/partials/_layout.scss */
p.default {
  margin-left: 100px !important;
}

/* line 218, ../sass/partials/_layout.scss */
.headings_container:first-child h2 {
  display: block;
  margin-top: 0;
}
/* line 219, ../sass/partials/_layout.scss */
.headings_container:first-child h3 {
  display: block;
  margin-left: 0;
}
/* line 220, ../sass/partials/_layout.scss */
.headings_container:first-child p {
  display: block;
  margin-left: 0;
}

/* line 222, ../sass/partials/_layout.scss */
.down_button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  display: block;
  width: 119px;
  height: 119px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 235, ../sass/partials/_layout.scss */
.down_button:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 238, ../sass/partials/_layout.scss */
.down_button img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 249, ../sass/partials/_layout.scss */
.main_content {
  position: relative;
  padding: 0;
  min-height: 600px;
}

/* line 254, ../sass/partials/_layout.scss */
.work {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* line 260, ../sass/partials/_layout.scss */
.about_us {
  width: 100%;
  max-width: 930px;
  margin: 0 auto 58px auto;
}

/* line 265, ../sass/partials/_layout.scss */
.work_type {
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
  margin: 0 20px;
}
/* line 270, ../sass/partials/_layout.scss */
.work_type .round_graphic {
  position: relative;
  width: 197px;
  height: 197px;
  margin: 0 auto 40px auto;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}
/* line 276, ../sass/partials/_layout.scss */
.work_type .round_graphic img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

/* line 284, ../sass/partials/_layout.scss */
.work_creatie .round_graphic {
  background-color: #8aebf1;
}

/* line 285, ../sass/partials/_layout.scss */
.work_productie .round_graphic {
  background-color: #beed7b;
}

/* line 286, ../sass/partials/_layout.scss */
.work_print .round_graphic {
  background-color: #ffde6d;
}

/* line 287, ../sass/partials/_layout.scss */
.work_outdoor .round_graphic {
  background-color: #ff8989;
}

/* line 288, ../sass/partials/_layout.scss */
.facebook_link {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -23px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 297, ../sass/partials/_layout.scss */
.facebook_link:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 303, ../sass/partials/_layout.scss */
.main_footer {
  background-color: #454f53;
  height: 241px;
}

/* line 308, ../sass/partials/_layout.scss */
.footer_wrapper {
  background: transparent url('../img/buline_footer_pat.png?1398161771') repeat-x;
  padding-top: 90px;
}
/* line 311, ../sass/partials/_layout.scss */
.footer_wrapper .mesaj {
  padding-bottom: 20px;
}

@media all and (max-width: 1150px) {
  /* header content */
  /* line 12, ../sass/partials/_queries.scss */
  .main_content {
    padding: 0 5% 0 5%;
  }

  /* line 15, ../sass/partials/_queries.scss */
  .head_wrapper {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* main content */
  /* line 21, ../sass/partials/_queries.scss */
  .work_type {
    margin: 0 1.73913%;
  }
  /* line 23, ../sass/partials/_queries.scss */
  .work_type .round_graphic {
    height: 150px;
    width: 150px;
  }
  /* line 27, ../sass/partials/_queries.scss */
  .work_type h3 {
    font-size: 16px;
  }
  /* line 30, ../sass/partials/_queries.scss */
  .work_type li {
    font-size: 12px;
  }

  /* line 34, ../sass/partials/_queries.scss */
  .work_creatie, .work_print {
    width: 17.1304%;
  }

  /* line 37, ../sass/partials/_queries.scss */
  .work_productiie {
    width: 23.1304%;
  }

  /* line 40, ../sass/partials/_queries.scss */
  .work_outdoor {
    width: 21.5652%;
  }

  /* line 43, ../sass/partials/_queries.scss */
  .slick-dots {
    left: 5%;
  }
}
@media all and (max-width: 917px) {
  /* line 51, ../sass/partials/_queries.scss */
  .work_type {
    width: 40%;
    margin-bottom: 50px;
  }
  /* line 54, ../sass/partials/_queries.scss */
  .work_type .round_graphic {
    width: 210px;
    height: 210px;
    margin-bottom: 10px;
  }
  /* line 59, ../sass/partials/_queries.scss */
  .work_type h3 {
    font-size: 18px;
  }
  /* line 62, ../sass/partials/_queries.scss */
  .work_type li {
    font-size: 14px;
  }

  /* line 67, ../sass/partials/_queries.scss */
  .open_slider {
    width: 250%;
  }
  /* line 69, ../sass/partials/_queries.scss */
  .open_slider section img {
    margin-left: 20%;
  }
}
@media all and (max-width: 768px) {
  /* line 80, ../sass/partials/_queries.scss */
  .main_header {
    height: 600px;
    background: white url('../img/header_vertical_bg_small.png?1401095927') repeat-x top !important;
  }

  /* line 84, ../sass/partials/_queries.scss */
  .main_header_container {
    background: transparent url('../img/highlight_header_bg_small.png?1401095927') no-repeat center top !important;
  }

  /* line 87, ../sass/partials/_queries.scss */
  .head_wrapper {
    padding-top: 40px;
    height: 600px;
  }

  /* line 91, ../sass/partials/_queries.scss */
  .main_nav {
    padding-top: 40px;
  }
  /* line 93, ../sass/partials/_queries.scss */
  .main_nav a {
    font-size: 14px;
  }

  /* line 97, ../sass/partials/_queries.scss */
  h1 {
    width: 150px;
    margin-bottom: 28px;
  }

  /* line 102, ../sass/partials/_queries.scss */
  .open_slider section img {
    width: 40%;
    height: auto;
    margin-left: 28%;
  }
  /* line 107, ../sass/partials/_queries.scss */
  .open_slider .number1 img {
    margin-top: 60px;
  }
  /* line 108, ../sass/partials/_queries.scss */
  .open_slider .number2 img {
    margin-top: 60px;
  }
  /* line 109, ../sass/partials/_queries.scss */
  .open_slider .number3 img {
    margin-top: 60px;
  }

  /* line 112, ../sass/partials/_queries.scss */
  .headings h2 {
    font-size: 80px;
  }
  /* line 115, ../sass/partials/_queries.scss */
  .headings h3 {
    font-size: 51px;
    top: 80px;
  }
  /* line 119, ../sass/partials/_queries.scss */
  .headings p {
    font-size: 17px;
    top: 140px;
  }

  /* line 124, ../sass/partials/_queries.scss */
  .slick_dots {
    bottom: 160px;
  }

  /* line 127, ../sass/partials/_queries.scss */
  .down_button {
    width: 76px;
    height: 76px;
    bottom: 35px;
  }
}
@media all and (max-width: 670px) {
  /* line 138, ../sass/partials/_queries.scss */
  .main_nav a {
    font-size: 14px;
  }
  /* line 141, ../sass/partials/_queries.scss */
  .main_nav li {
    margin-left: 10px;
  }

  /* line 146, ../sass/partials/_queries.scss */
  .open_slider .number1 img {
    margin-top: 90px;
    width: 600px;
  }
  /* line 150, ../sass/partials/_queries.scss */
  .open_slider .number2 img {
    margin-top: 90px;
    width: 500px;
  }
  /* line 154, ../sass/partials/_queries.scss */
  .open_slider .number3 img {
    margin-top: 190px;
  }

  /* line 159, ../sass/partials/_queries.scss */
  .footer_wrapper p {
    font-size: 14px;
  }
}
@media all and (max-width: 542px) {
  /* line 168, ../sass/partials/_queries.scss */
  .head_wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 172, ../sass/partials/_queries.scss */
  .main_nav {
    float: none;
    padding: 0px;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
  }
  /* line 179, ../sass/partials/_queries.scss */
  .main_nav li {
    margin-left: 30px;
  }
  /* line 181, ../sass/partials/_queries.scss */
  .main_nav li:first-child {
    margin-left: 0px;
  }

  /* line 187, ../sass/partials/_queries.scss */
  .work_type .round_graphic {
    width: 140px;
    height: 140px;
  }
  /* line 190, ../sass/partials/_queries.scss */
  .work_type .round_graphic img {
    width: 30%;
    height: auto;
  }

  /* line 196, ../sass/partials/_queries.scss */
  .main_footer {
    height: 200px;
  }

  /* line 199, ../sass/partials/_queries.scss */
  .footer_wrapper {
    padding-top: 50px;
  }
  /* line 201, ../sass/partials/_queries.scss */
  .footer_wrapper .mesaj {
    margin-bottom: 5px;
    display: block;
  }
  /* line 205, ../sass/partials/_queries.scss */
  .footer_wrapper .bulina {
    display: block;
    list-style-type: none;
  }
  /* line 209, ../sass/partials/_queries.scss */
  .footer_wrapper p span {
    background: none;
    padding-left: 0px;
    line-height: 1.5em;
  }
}
@media all and (max-width: 360px) {
  /* line 221, ../sass/partials/_queries.scss */
  .main_nav li {
    margin-left: 5px;
  }
  /* line 224, ../sass/partials/_queries.scss */
  .main_nav a {
    font-size: 13px;
  }

  /* line 228, ../sass/partials/_queries.scss */
  .open_slider {
    width: 280%;
  }
  /* line 230, ../sass/partials/_queries.scss */
  .open_slider section img {
    width: 40%;
    height: auto;
    margin-left: 20%;
  }

  /* line 237, ../sass/partials/_queries.scss */
  .headings h2 {
    font-size: 44px;
  }
  /* line 240, ../sass/partials/_queries.scss */
  .headings h3 {
    font-size: 26px;
    top: 50px;
  }
  /* line 244, ../sass/partials/_queries.scss */
  .headings p {
    font-size: 14px;
    top: 90px;
  }

  /* line 249, ../sass/partials/_queries.scss */
  .main_content {
    padding-bottom: 30px;
  }

  /* line 252, ../sass/partials/_queries.scss */
  .work_type {
    margin: 0px 0px 20px 0px;
    width: 100%;
    clear: both;
  }
  /* line 256, ../sass/partials/_queries.scss */
  .work_type .round_graphic {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 15px;
  }
  /* line 261, ../sass/partials/_queries.scss */
  .work_type .round_graphic img {
    width: 30%;
    height: auto;
  }
  /* line 266, ../sass/partials/_queries.scss */
  .work_type h3 {
    float: left;
    width: 80px;
  }
  /* line 270, ../sass/partials/_queries.scss */
  .work_type ul {
    float: left;
    width: 140px;
    text-align: left;
  }
  /* line 274, ../sass/partials/_queries.scss */
  .work_type ul li {
    font-size: 12px;
  }

  /* line 279, ../sass/partials/_queries.scss */
  h1 {
    width: 140px;
  }
}
