/* usage
	@include selection {
		color: white;
		background: black;
	}
} */
@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Regular-webfont.eot");
  src: url("fonts/Overpass_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Regular-webfont.woff") format("woff"), url("fonts/Overpass_Regular-webfont.ttf") format("truetype"), url("fonts/Overpass_Regular-webfont.svg#overpassregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Bold-webfont.eot");
  src: url("fonts/Overpass_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Bold-webfont.woff") format("woff"), url("fonts/Overpass_Bold-webfont.ttf") format("truetype"), url("fonts/Overpass_Bold-webfont.svg#overpassbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 54, ../sass/partials/_reset.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, ../sass/partials/_mixins.scss */
body ::-moz-selection {
  color: #fff;
  background: #00e4ee;
}
/* line 29, ../sass/partials/_mixins.scss */
body ::selection {
  color: #fff;
  background: #00e4ee;
}

/* line 3, ../sass/partials/_typography.scss */
body {
  font-family: "Lato";
}

/* line 9, ../sass/partials/_typography.scss */
.main_nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.075em;
}
/* line 4, ../sass/partials/_mixins.scss */
.main_nav a:link {
  color: black;
}
/* line 7, ../sass/partials/_mixins.scss */
.main_nav a:visited {
  color: black;
}
/* line 10, ../sass/partials/_mixins.scss */
.main_nav a:hover {
  color: black;
  color: #00e4ee;
}
/* line 14, ../sass/partials/_mixins.scss */
.main_nav a:active {
  color: #00e4ee;
}
/* line 17, ../sass/partials/_typography.scss */
.main_nav a.active {
  color: #00e4ee;
}

/* line 23, ../sass/partials/_typography.scss */
.headings h2 {
  font-size: 117px;
  text-transform: uppercase;
}
/* line 27, ../sass/partials/_typography.scss */
.headings h3 {
  font-family: "Lato";
  font-size: 75px;
  font-weight: 300;
}
/* line 31, ../sass/partials/_typography.scss */
.headings h3 span {
  font-weight: 400;
}
/* line 35, ../sass/partials/_typography.scss */
.headings p {
  font-family: "Lato";
  font-size: 25px;
  font-weight: 300;
  color: #515151;
}

/* line 44, ../sass/partials/_typography.scss */
.slick-dots li button {
  font-family: "Arial";
  font-size: 10px;
  color: #434342;
  text-align: center;
  vertical-align: text-top;
  line-height: 0;
}

/* line 56, ../sass/partials/_typography.scss */
.nav_btns li {
  font-family: "Arial";
  font-size: 10px;
  color: #434342;
  text-align: center;
}
/* line 62, ../sass/partials/_typography.scss */
.nav_btns li.active {
  color: #fff;
}

/* line 68, ../sass/partials/_typography.scss */
.intampinare {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 120%;
}

/* line 74, ../sass/partials/_typography.scss */
.about_us {
  font-size: 25px;
  font-weight: 300;
  line-height: 120%;
}

/* line 80, ../sass/partials/_typography.scss */
.work_type h3 {
  font-size: 21px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 25px;
}
/* line 87, ../sass/partials/_typography.scss */
.work_type li {
  font-size: 17px;
  font-weight: 300;
  color: #77787b;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 25px;
}

/* line 98, ../sass/partials/_typography.scss */
.footer_wrapper {
  text-align: center;
  color: #fff;
  font-size: 21px;
  letter-spacing: 0.05em;
}
/* line 103, ../sass/partials/_typography.scss */
.footer_wrapper .mesaj {
  text-transform: uppercase;
  font-weight: 900;
}
/* line 107, ../sass/partials/_typography.scss */
.footer_wrapper p {
  font-weight: 300;
  vertical-align: text-bottom;
}
/* line 110, ../sass/partials/_typography.scss */
.footer_wrapper p span {
  line-height: 65px;
  padding-left: 25px;
  background: transparent url('../img/disc_list_style.png?1398162370') no-repeat 10px 11px;
}

/* line 6, ../sass/partials/_layout.scss */
body {
  background-color: white;
  vertical-align: text-top;
}

/* line 10, ../sass/partials/_layout.scss */
.main_header {
  background-color: white;
  background: white url('../img/header_vertical_bg.jpg?1398108037') repeat-x;
  height: 810px;
}

/* line 15, ../sass/partials/_layout.scss */
.main_header_container {
  position: relative;
  background: transparent url('../img/highlight_header_bg.png?1398107930') no-repeat center top;
  overflow: hidden;
  height: 100%;
}

/* line 21, ../sass/partials/_layout.scss */
.head_wrapper {
  width: 1000px;
  height: 810px;
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}

/* line 35, ../sass/partials/_layout.scss */
.open_slider {
  width: 200%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
/* line 39, ../sass/partials/_layout.scss */
.open_slider .slick-list.dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
/* line 44, ../sass/partials/_layout.scss */
.open_slider section img {
  display: block;
  margin-left: 30%;
}
/* line 50, ../sass/partials/_layout.scss */
.open_slider .number1 img {
  margin-top: 50px;
}
/* line 53, ../sass/partials/_layout.scss */
.open_slider .number2 img {
  margin-top: 50px;
}
/* line 56, ../sass/partials/_layout.scss */
.open_slider .number3 img {
  margin-top: 130px;
}

/* NEW NAV BUTTONS */
/* line 61, ../sass/partials/_layout.scss */
.slick-dots {
  position: absolute;
  bottom: 200px;
  left: 0;
  list-style: none;
  display: block;
  text-align: left;
  padding: 0px;
  width: 200px;
  height: 17px;
  pointer-events: auto;
}
/* line 72, ../sass/partials/_layout.scss */
.slick-dots li {
  pointer-events: auto;
  position: relative;
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 0px 18px 0px 0px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  background: transparent url('../img/two.png?1398154060') no-repeat center center;
}
/* line 82, ../sass/partials/_layout.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 17px;
  width: 17px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
/* line 92, ../sass/partials/_layout.scss */
.slick-dots li button:focus {
  outline: none;
}
/* line 96, ../sass/partials/_layout.scss */
.slick-dots li button:before {
  display: none;
}
/* line 102, ../sass/partials/_layout.scss */
.slick-dots li.slick-active button {
  color: #fff;
  background: transparent url('../img/one.png?1398154023') no-repeat center center;
}

/* line 108, ../sass/partials/_layout.scss */
h1 {
  width: 194px;
  float: left;
  margin-bottom: 64px;
  pointer-events: auto;
}
/* line 113, ../sass/partials/_layout.scss */
h1 .logo {
  width: 193px;
  height: 193px;
  display: block;
}

/* line 120, ../sass/partials/_layout.scss */
.headings h3 {
  padding-bottom: 13px;
}

/* line 124, ../sass/partials/_layout.scss */
.main_nav {
  float: right;
  padding-top: 85px;
  pointer-events: auto;
}
/* line 128, ../sass/partials/_layout.scss */
.main_nav li {
  display: inline-block;
  margin-left: 40px;
}

/* line 133, ../sass/partials/_layout.scss */
.headings {
  position: relative;
  clear: both;
  margin-bottom: 100px;
}

/* line 138, ../sass/partials/_layout.scss */
.headings_container {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 0;
}
/* line 144, ../sass/partials/_layout.scss */
.headings_container h2 {
  margin-top: -100px;
  display: none;
  position: absolute;
  top: 0;
}
/* line 150, ../sass/partials/_layout.scss */
.headings_container h3 {
  margin-left: -100px;
  display: none;
  position: absolute;
  top: 110px;
}
/* line 156, ../sass/partials/_layout.scss */
.headings_container p {
  margin-left: +100px;
  display: none;
  top: 200px;
  position: absolute;
}

/* line 164, ../sass/partials/_layout.scss */
.headings_container:first-child h2 {
  display: block;
  margin-top: 0;
}
/* line 165, ../sass/partials/_layout.scss */
.headings_container:first-child h3 {
  display: block;
  margin-left: 0;
}
/* line 166, ../sass/partials/_layout.scss */
.headings_container:first-child p {
  display: block;
  margin-left: 0;
}

/* line 168, ../sass/partials/_layout.scss */
.down_button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  display: block;
  width: 119px;
  height: 119px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 181, ../sass/partials/_layout.scss */
.down_button:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 184, ../sass/partials/_layout.scss */
.down_button img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 195, ../sass/partials/_layout.scss */
.main_content {
  height: 500px;
}

/* line 198, ../sass/partials/_layout.scss */
.work {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* line 203, ../sass/partials/_layout.scss */
.about_us {
  width: 930px;
  margin: 0 auto 58px auto;
}

/* line 207, ../sass/partials/_layout.scss */
.work_type {
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
  margin: 0 20px;
}
/* line 212, ../sass/partials/_layout.scss */
.work_type img {
  margin-bottom: 18px;
}

/* line 216, ../sass/partials/_layout.scss */
.facebook_link {
  display: block;
  width: 54px;
  height: 50px;
  margin: 40px auto 0 auto;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 222, ../sass/partials/_layout.scss */
.facebook_link:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 228, ../sass/partials/_layout.scss */
.main_footer {
  background-color: #454f53;
  height: 241px;
}

/* line 233, ../sass/partials/_layout.scss */
.footer_wrapper {
  background: transparent url('../img/buline_footer_pat.png?1398161771') repeat-x;
  padding-top: 90px;
}
/* line 236, ../sass/partials/_layout.scss */
.footer_wrapper .mesaj {
  padding-bottom: 20px;
}
