// THE LAYOUT AND REST OF THE STYLES
// ---------------------------------------------------------------

// HEADER STYLES
// ---------------------------------------------------------------
body {
	background-color: $body-bg-color;
	vertical-align:text-top;
}
.main_header {
	background-color: $body-bg-color;
	background: $body-bg-color image-url('header_vertical_bg.jpg') repeat-x;
	height: $header-height;
}
.main_header_container {
	background: transparent image-url('highlight_header_bg.png') no-repeat top center;
	height: 100%;
}
.main_header_container_container {
	height: 100%;
	background: transparent image-url('pantone.png') no-repeat 700px 140px;
}
.head_wrapper {
	width: 1000px;
	padding-top: 55px;
	margin: 0 auto;
}
h1 {
	width: 194px;
	float: left;
	margin-bottom: 64px;
	.logo {
		width: 193px;
		height: 193px;
		display: block;
	}
}
.headings {
	h3 {
		padding-bottom: 13px;
	}
}
.main_nav {
	float: right;
	padding-top: 85px;
	li {
		display: inline-block;
		margin-left: 40px;
	}
}
.headings {
	clear: both;
	margin-bottom: 100px;
}
.nav_btns {
	li {
		display: inline-block;
		width: 17px;
		height: 13px;
		margin-right: 18px;
		padding-top:4px;
		background: transparent image-url("two.png") no-repeat center center;
		cursor: pointer;
	}
	li.active {
		background: transparent image-url("one.png") no-repeat center center;
	}
}
.down_button {
	display: block;
	width: 119px;
	height: 119px;
	margin: -30px auto 0 auto;
	img {
		display: block;
	}
}
// CONTENT STYLES
// ---------------------------------------------------------------

.work {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.about_us {
	width:	930px;
	margin: 0 auto;
}

// FOOTER STYLES
// ---------------------------------------------------------------