// THE LAYOUT AND REST OF THE STYLES
// ---------------------------------------------------------------

// HEADER STYLES
// ---------------------------------------------------------------
body {
	background-color: $body-bg-color;
	vertical-align:text-top;
}
.main_header {
	background-color: $body-bg-color;
	background: $body-bg-color image-url('header_vertical_bg.jpg') repeat-x;
	height: $header-height;
}
.main_header_container {
	position: relative;
	background: transparent image-url('highlight_header_bg.png') no-repeat center top;
	overflow: hidden;
	height: 100%;
}
.head_wrapper {
	width: 1000px;
	height: $header-height;
	padding-top: 55px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	pointer-events: none;
}
// SLICK SLIDER 

.open_slider {
	width: 200%;
	height: 100%;
	@include grab-cursor;
	.slick-list.dragging {
		@include grabbing-cursor;
	}
	section {

		img {
			display: block;
			margin-left: 30%;
			// margin-right: auto;
		}
	}
	.number1 img {
		margin-top: 50px;
	}
	.number2 img {
		margin-top: 50px;
	}
	.number3 img {
		margin-top: 130px;
	}
}
/* NEW NAV BUTTONS */
.slick-dots {
    position: absolute;
    bottom: 200px;
    left: 0;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0px;
    width: 200px;
	height: 17px;
    pointer-events: auto;
    li {
    	pointer-events: auto;
        position: relative;
        display: inline-block;
        height: 17px;
        width: 17px;
        margin: 0px 18px 0px 0px;
        padding: 0px 0px 0px 0px;
        cursor: pointer;
        background: transparent image-url("two.png") no-repeat center center;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 17px;
            width: 17px;
            outline: none;
            padding: 5px;
            cursor: pointer;
            outline: none;
            &:focus {
                outline: none;
            }

            &:before {
                display: none;
            }

        }

        &.slick-active button{
            color: #fff;
            background: transparent image-url("one.png") no-repeat center center;
        }
    }
}
h1 {
	width: 194px;
	float: left;
	margin-bottom: 64px;
	pointer-events: auto;
	.logo {
		width: 193px;
		height: 193px;
		display: block;
	}
}
.headings {
	h3 {
		padding-bottom: 13px;
	}
}
.main_nav {
	float: right;
	padding-top: 85px;
	pointer-events: auto;
	li {
		display: inline-block;
		margin-left: 40px;
	}
}
.headings {
	position: relative;
	clear: both;
	margin-bottom: 100px;
}
.headings_container {
	position: absolute;
	width: 500px;
	height: 400px;	
	top: 0;
	// absolute position for better jquery animations
	h2 {
		margin-top: -100px;
		display: none;
		position: absolute;
		top: 0;
	}
	h3 {
		margin-left: -100px;
		display: none;
		position: absolute;
		top: 110px;
	}
	p {
		margin-left: +100px;
		display: none;
		top: 200px;
		position: absolute;
	}
}
.headings_container:first-child {
	h2 {display: block; margin-top: 0;}
	h3 {display: block; margin-left: 0;}
	p {display: block; margin-left: 0;}
}
.down_button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
	display: block;
	width: 119px;
	height: 119px;
	// margin: -30px auto 0 auto;
	@include trans (all, 0.2s, ease-out);
	&:hover {
		@include transform-scale ( 1.2 );
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}



// CONTENT STYLES
// ---------------------------------------------------------------
.main_content {
	height: 600px;
}
.work {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.about_us {
	width:	930px;
	margin: 0 auto 58px auto;
}
.work_type {
	display: inline-block;
	text-align: center;
	vertical-align: text-top;
	margin: 0 20px;
	div {
		position: relative;
		width: 197px;
		height: 197px;
		margin: 0 auto 40px auto;
		@include border-radius(50%, 50%);
		img {
			display: block;
			position: absolute;
			top: 0; right: 0; left: 0; bottom: 0;
			margin: auto;
		}	
	}
}
.work_creatie .round_graphic{	background-color: #8aebf1; }
.work_productie .round_graphic{	background-color: #beed7b; }
.work_print .round_graphic{	background-color: #ffde6d; }
.work_outdoor .round_graphic{	background-color: #ff8989; }
.facebook_link {
	display: block;
	width: 50px;
	height: 50px;
	margin: 90px auto 0 auto;
	@include trans (all, 0.2s, ease-out);
	&:hover {
		@include transform-scale ( 1.2 );
	}
}
// FOOTER STYLES
// ---------------------------------------------------------------
.main_footer {
	background-color: $footer-bg-color;
	height: 241px;

}
.footer_wrapper {
	background: transparent image-url('buline_footer_pat.png') repeat-x;
	padding-top: 90px;
	.mesaj {
		padding-bottom: 20px;
	}
}