// Anchor mixin
// ---------------------------------------------------------------
@mixin anchor-lvha($l-color , $h-color) {
	&:link {
		color:$l-color;
	}
	&:visited {
		color:$l-color;
	}
	&:hover {
		color:$l-color;
		color:$h-color;
	}
	&:active {
		color:$h-color;
	}
}

// Text selection mixin
// ---------------------------------------------------------------
/* usage
	@include selection {
		color: white;
		background: black;
	}
} */
@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}
// CSS3 transitions mixin
// ---------------------------------------------------------------
@mixin trans ( $property , $duration , $ease) {
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-ms-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}
// CSS3 transform scale mixin
@mixin transform-scale ( $size ) {
	-ms-transform: scale($size);
	-webkit-transform: scale($size);
	transform: scale(1.2);
}