// MEDIA QUERIES GO IN HERE
// ---------------------------------------------------------------

// I'll use these examples or whatever
// @media all and (min-width: 1001px) {}
// @media all and (max-width: 1000px) and (min-width: 700px) {}
// @media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {}

@media all and ( max-width: 1150px ) {
// ------------------------------------------------------
/* header content */
.main_content {
	padding: 0 5% 0 5%;
}
.head_wrapper {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
/* main content */
.work_type {
	margin: 0 1.73913%;
	.round_graphic {
		height: 150px;
		width: 150px;
	}
	h3 {
		font-size: 16px;
	}
	li {
		font-size: 12px;
	}
}
.work_creatie , .work_print {
	width: 17.1304%;
}
.work_productiie {
	width: 23.1304%;
}
.work_outdoor {
	width: 21.5652%;
}
.slick-dots {
	left: 5%;
}
// ------------------------------------------------------
}

@media all and ( max-width: 917px ) {
// ------------------------------------------------------
.work_type {
	width: 40%;
	margin-bottom: 50px;
	.round_graphic {
		width: 210px;
		height: 210px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 18px;
	}
	li {
		font-size: 14px;
	}
}
// ------------------------------------------------------	
}

