// MEDIA QUERIES GO IN HERE
// ---------------------------------------------------------------

// I'll use these examples or whatever
// @media all and (min-width: 1001px) {}
// @media all and (max-width: 1000px) and (min-width: 700px) {}
// @media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {}

@media all and ( max-width: 1150px ) {
// ------------------------------------------------------
	.work_type {
		margin: 0 1.73913%;
		.round_graphic {
			height: 150px;
			width: 150px;
		}
		h3 {
			font-size: 16px;
		}
		li {
			font-size: 12px;
		}
	}
	.work_creatie , .work_print {
		width: 17.1304%;
	}
	.work_productiie {
		width: 23.1304%;
	}
	.work_outdoor {
		width: 21.5652%;
	}
// ------------------------------------------------------
}