// THE TYPOGRAPHY STYLES
// ---------------------------------------------------------------
body {
	font-family: $lato-family;
}
// HEADER STYLES
// ---------------------------------------------------------------
.main_nav {
	a {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 900;
		font-size: 17px;
		letter-spacing: 0.075em;
		@include anchor-lvha(#000 , $link-highlight-color);
	}
	a.active {
		color: $link-highlight-color;
	}

}
.headings {
	h2 {
		font-size: 117px;
		text-transform: uppercase;
	}
	h3 {
		font-family: "Lato";
		font-size: 75px;
		font-weight: 300;
		span {
			font-weight: 400;
		}
	}
	p {
		font-family: "Lato";
		font-size: 25px;
		font-weight: 300;
		color: #515151;
	}
}
.slick-dots {
	li {
		button {
		font-family: "Arial";
		font-size: 10px;
		color: #434342;
		text-align: center;
		vertical-align: text-top;
		line-height: 0;
		}	
	}

}
.nav_btns {
	li {
		font-family: "Arial";
		font-size: 10px;
		color: #434342;
		text-align: center;
	}
	li.active {
		color: #fff;
	}
}
// CONTENT STYLES
// ---------------------------------------------------------------
.intampinare {
	font-size: 25px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 120%;
}
.about_us {
	font-size: 25px;
	font-weight: 300;
	line-height: 120%;
}
.work_type {
	h3 {
		font-size: 21px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 25px;
	}
	li {
		font-size: 17px;
		font-weight: 300;
		color: #77787b;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 25px;
	}
}
// FOOTER STYLES
// ---------------------------------------------------------------
.footer_wrapper {
	text-align: center;
	color:	#fff;
	font-size: 21px;
	letter-spacing: 0.05em;
	.mesaj {
		text-transform: uppercase;
		font-weight: 900;
	}
	p {
		font-weight: 300;
		vertical-align: text-bottom;
		span {
			line-height: 65px;
			padding-left: 25px;
			background: transparent image-url("disc_list_style.png") no-repeat 10px 11px;
		}
	}
}