// TYPOGRAPHY VARIABLES
// ---------------------------------------------------------------
$heading-type: "Overpass" , "Verdana" , "Arial" , sans-serif;
$subtitle-type: "Open Sans Condensed" , "Arial" , sans-serif;
$subheading-type: "Open Sans" , "Arial" , sans-serif;
$reading-type: "Cambo" , "Verdana" , serif;
$base-font-size: 16px;

//FONT SIZE CALCULATIONS VARIABLES
// ---------------------------------------------------------------



// COLOR VARIABLES
// ---------------------------------------------------------------
